
    .App {
        height: 100vh;
        width: 100vw;
        background-color: #cccccc; /* Light grey background */
        margin: 0;
        overflow: hidden;
    }
    .fileNav {
        background-color: #e6e6e6;
        height: 2.5%;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #cccccc;
        align-items: center;
    }
    .fileNav-btn {
        margin-right: 10px;
        text-align: center;
        width:4.5rem;
    }
    .top-row-btn-nav {
        background-color: #e6e6e6;
        height: 3%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: .1rem solid #cccccc;
        box-sizing: border-box;
    }
    
    .top-row-btn-container {
        flex: 1;
        border-right: 1px solid #e6e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-row-btn-container-last {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .action-top-btns-nav {
        background-color: #e6e6e6;
        height: 3%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #cccccc;
    }
    .search-btn {
        text-align: center;
        border-right: 1px solid #cccccc;
        height: 100%;
        width: 5%;
    }
    .add-favorite {
        text-align: center;
        border-right: 1px solid #cccccc;
        height: 100%;
        width: 5%;
    }
    .modal-pan {
        justify-content: center;
        text-align: center;
        display:flex;
    }
    .modal-opacity {
        justify-content: center;
        text-align: center;
        display:flex;
        flex-direction: column;
    }
    .modal {
        text-align: center;
        justify-content: center;
    }
    .text-btn {
        text-align: center;
        border-right: .1rem solid black;
        height:100%;
        width: 5%;
    }
    .content {
        text-align: center;
        font-size:50px;
    }
    .contentbtn {
        margin-top:5%;
        margin-bottom:3%;
        font-size:20px;
    }
    .contentbtn-pan {
        margin-top:5%;
        margin-bottom:3%;
        margin-right: 10%;
        font-size:20px;
    }
    .search-btn-last {
        text-align: center;
        height:100%;
        width: 5%;
    }
    .menu-preview-container {
        background-color: #cccccc;
        height: 43%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: .1rem solid black;
    }
    .menu-container {
        background-color: #cccccc;
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: row;
        border-right: .1rem solid black;
    }
    .file-container-left {
        height: 100%;
        width: 15%;
        border-right: .1rem solid black;
    }
    .file-container-right {
            margin-top: 2%;
            height: 100%;
            width: 79.9%;
        }

    .file-container-left {
        text-align: center;
        height: 100%;
        width: 15%;
        border-right: .1rem solid black;
        background-color: #cccccc;
    }
    .visual-effects-container {
        display:flex;
        flex-direction:row;
        height: 100%;
        width: 89%;
        background-color: #cccccc;
    }
    .visual-effects-left {
        height: 100%;
        width: 80%;
    }
    .visual-effects-right {
        display:flex;
        flex-direction:column;
        align-items: flex-end;
        height: 100%;
        width: 20%;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    .visual-effects-btn {
        margin-bottom: 1rem;
        height: 10%;
        width: 70%;
    }
    .visual-effects-box {
        padding-left: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30%;
        align-items: center;
        justify-content: space-between;
    }
    .visual-effect {
        justify-content: center;
        text-align: center;
        height: 90%;
        width: 30%;
        border: .1rem solid black;
    }
    .file {
        height:10%;
        width: 80%;
    }
    .video-file {
        height: 10%;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .video-file-left {
        text-align: right;
        margin-right:1%;
        height: 100%;
        width: 20%;
    }
    .video-file-right {
        text-align: left;
        margin-top: 2%;
        flex: 1;
        height: 100%;
        width: 30%;
    }
    
    .preview-container {
        display:flex;
        flex-direction: row;
        height: 100%;
        width: 64.9%;
    }
    .preview-box {
        margin: auto;
        display:flex;
        flex-direction:column;
        height: 90%;
        width: 50%;
    }
    .preview {
        height: 87%;
        width: 100%;
    }
    .preview-controls {
        justify-content: center;
        text-align: center;
        height: 13%;
        width: 100%;
        display:flex;
        flex-direction: row;
    }
    .control {
        height: 100%;
        width: 10%;
    }
    .splitbtn {
        text-align: center;
        height: 100%;
        width: 5%;
        border-right: .1rem solid black;
    }
    .pause {
        height: 100%;
        width: 10%;
    }
    .stop {
        margin-top:1.5%;
        height: 100%;
        width: 10%;
    }
    .time-container {
        background-color: #cccccc;
        height: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: .1rem solid black;
        text-align: center;
    }
    .video-container {
        background-color: #cccccc;
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: column;
        border-right: .1rem solid black;
        font-size:20px;
    }
    .video-container-right {
        background-color: #cccccc;
        height: 100%;
        width: 64.9%;
        display: flex;
        flex-direction: column;
    }
    .video-track-controls {
        height: 100%;
        width: 84.9%;
    }
    .video-track-container {
        background-color: #cccccc;
        height: 43%;
        width: 100%;
        display: flex;
    }
    .time-left-container {
        background-color: #cccccc;
        justify-content: center;
        height: 100%;
        width: 35%;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        border-right: .1rem solid black;
    }
    .time-right-container {
        background-color: #cccccc;
        height: 100%;
        width: 65%;
        display:flex;
    }
    .time-container {
        background-color: #cccccc;
        height: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: .1rem solid black;
    }
    .track-time-container {
        background-color: #cccccc;
        height: 10%;
        width: 50%;
        display: flex;
        flex-direction: row;
        border-bottom: .1rem solid black;
    }
    .opacity-container {
        height:50%;
        width: 100%;
        display: flex;
        border-bottom: .1rem solid black;
    }
    .opacity-track-num {
        height: 100%;
        width: 15%;
        border-right: .1rem solid black;
    }
    .video-track {
        height:50%;
        width: 100%;
        display: flex;
        border-bottom: .1rem solid black;
        align-items: center;
        margin-left:.9rem;
    }
    .audio-track {
        height:50%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left:.9rem;
    }
    .audio-track-controls {
        height: 100%;
        width: 84.9%;
    }
    .video-track-controls-top {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 30%;
        width: 100%;
    }
    .video-track-controls-bottom {
        display:flex;
        flex-direction: row;
        height: 69.9%;
        width: 100%;
    }
    .opacity-track-slider-range {
        margin-top: 13%;
        width: 70%;
    }
    .opacity-label {
        margin-top:9%;
        text-align: center;
        height: 100%;
        width: 20%;
    }
    .opacity-track-slider {
        height: 100%;
        width: 79.9%;
    }
    .spacial-track-slider {
        height: 100%;
        width: 79.9%;
    }
    .audio-label {
        margin-top:9%;
        text-align: center;
        height: 100%;
        width: 20%;
    }
    .solo {
        height: 100%;
        width: 10%;
    }
    .mute {
        height: 100%;
        width: 10%;
    }
    .audio-track-controls-top {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 30%;
        width: 100%;
    }
    .audio-track-controls-bottom {
        display:flex;
        flex-direction: row;
        height: 69.9%;
        width: 100%;
    }
    .audio-track-num {
        height: 100%;
        width: 15%;
        border-right: .1rem solid black;
    }
    .video-num {
        text-align: center;
        height: 49%;
        width:100%;
        margin-top:50%;
    }
    .video-symbol {
        text-align: center;
        height: 25%;
        width:100%;
    }
    .audio-num {
        text-align: center;
        height: 49%;
        width:100%;
        margin-top:50%;
    }
    .audio-symbol {
        text-align: center;
        height: 25%;
        width:100%;
    }
    .audio-container {
        height:50%;
        width: 100%;
        display: flex;
    }
    .opacity-box {
        position:relative;
        text-align: center;
        width: 99%;
        height: 90%;
        border: .1rem solid black;
        border-radius: 20px;
        visibility: visible;
    }
    .video-control-container {
        position:absolute;
        bottom: 8%;
        display: flex;
        flex-direction: row;
        height: 40%;
        width: 100%;
    }
    .video-control {
        margin-top: 4%;
        height:50%;
        width: 5%;
    }
    .video-control-split {
        margin-top: 4%;
        height:50%;
        width: 15%;
    }
    .video-control-first {
        padding-top: .3rem;
        display:flex;
        flex-direction: column;
        height:100%;
        width: 8%;
        margin-left: 2%;
        margin-right: 67%;
    }
    .video-control-first-split {
        padding-top: .3rem;
        display:flex;
        flex-direction: column;
        height:100%;
        width: 25%;
        margin-left: 2%;
        margin-right: 50%;
    }
    .audio-control-container {
        position:absolute;
        bottom: 8%;
        display: flex;
        flex-direction: row;
        height: 40%;
        width: 100%;
    }
    .audio-control {
        margin-top: 3%;
        height:50%;
        width: 5%;
    }
    .audio-control-split {
        margin-top: 4%;
        height:50%;
        width: 15%;
    }
    .audio-control-first {
        display:flex;
        flex-direction: column;
        height:100%;
        width: 8%;
        margin-left: 1.5%;
        margin-right: 78%;
    }
    .audio-control-first-split {
        display:flex;
        flex-direction: column;
        height:100%;
        width: 27%;
        margin-left: 1.5%;
        margin-right: 68%;
    }
    .splitIcon {
        height: 45%;
        width: 100%;
    }
    .split-toggle {
        padding-top: .6rem;
        height: 50%;
        width: 100%;
    }
    .opacity-slider {
        margin: auto;
        height: 100%;
        width: 10%;
        position: relative;
    }
    #opacitytext {
        height: 20%;
        width: 50%;
    }
      .opacity-slider-range {
        -webkit-appearance: none;
        appearance: none;
        width: 100%; 
        height: 50%; 
        background: transparent;
        outline: none;
        position: absolute; 
        top: 8%; 
        bottom: 0; 
        left: 50%; 
        transform: translateX(-50%) rotate(-90deg); 
      }

      .opacity-slider-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 50px;
        height: 50px;
        border: 0;
        background: url('images/updown.png');
        cursor: pointer;
      }
      .video-symbol::before {
        content: ""; 
        display: inline-block; 
        width: 50%; 
        height: 100%; 
        background-image: url(images/Video_Symbol.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .audio-symbol::before {
        content: ""; 
        display: inline-block; 
        width: 50%; 
        height: 100%; 
        background-image: url(images/Music_Symbol.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
      .opacity-slider-range::-moz-range-thumb {
        width: 50px;
        height: 50px;
        border: 0;
        background: url('images/updown.png');
        cursor: pointer;
      }
      .opacity-slider-range-split {
        -webkit-appearance: none;
        appearance: none;
        width: 200%; 
        height: 50%; 
        background: transparent;
        outline: none;
        position: absolute; 
        top: 8%; 
        bottom: 0; 
        left: 50%; 
        transform: translateX(-50%) rotate(-90deg); 
      }

      .opacity-slider-range-split::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 50px;
        height: 50px;
        border: 0;
        background: url('images/updown.png');
        cursor: pointer;
      }

      .opacity-slider-range-split::-moz-range-thumb {
        width: 50px;
        height: 50px;
        border: 0;
        background: url('images/updown.png');
        cursor: pointer;
      }
    .audio-box {
        position:relative;
        text-align: center;
        width: 99%;
        height: 90%;
        border: .1rem solid black;
        border-radius: 20px;
        visibility: visible;
    }
    .gain-slider {
        margin:auto;
        height:20%;
        width: 10%;
        border-left: .1rem solid;
        border-right: .1rem solid;
        border-bottom: .1rem solid;
    }
    .slider {
        margin-top: 3%;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .top-row-btn {
        text-align:center;

        width: 100%;
        height: 100%;
    }
    .slider-round:hover {
        opacity: 1;
    }
    .slider-round {
        border-radius: 34px;
    }

    .slider-round:before {
        border-radius: 50%;
    }
    .fileNav-btn:hover {
        cursor: pointer;
        background-color: #17a2b8;
        color: white;
    }
    .top-row-btn:hover {
        cursor: pointer;
        background-color: #17a2b8;
        color: white;
    }
    .slider-round {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: grey;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider-round:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 4px;
        bottom: 4px;
        background-color: #cccccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider-round {
        background-color: #2196F3;
      }

      input:focus + .slider-round {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider-round:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height:25px;
        border: 0;
        background: url('images/downwardcaret.png');
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border: 0;
        background: url('images/downwardcaret.png');
        cursor: pointer;
    }
    .vid {
        height: 100%;
        width: 100%;
    }
    #range-slider {
        width: 100%;

    }
    #range-slider .range-slider__thumb[data-lower] {
        width: 0;
    }
    
    #range-slider .range-slider__range {
        border-radius: 6px;
    }
    .search-btn:hover {
        cursor: pointer;
        background-color: #17a2b8;
    }
    .search-btn-last:hover {
        background-color: #17a2b8;
    }
    .video-file:hover {
        cursor: pointer;
        background-color:#17a2b8;
        color:white;
    }
    .visual-effect:hover {
        border: .2rem solid blue;
    }
    .video-control-split:hover {
        cursor: pointer;

    }
    .audio-control-split:hover {
        cursor: pointer;

    }
    .video-control:hover {
        cursor: pointer;

    }
    .audio-control:hover {
        cursor: pointer;

    }
    .control::before {
        content: ""; 
        display: inline-block; 
        width: 50%; 
        height: 100%; 
        background-image: url(images/playbuttonicon.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .solo::before {
        content: ""; 
        display: inline-block; 
        width: 100%; 
        height: 100%; 
        background-image: url(images/solo.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .mute::before {
        content: ""; 
        display: inline-block; 
        width: 100%; 
        height: 100%; 
        background-image: url(images/Unmute.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #splitbtn::before {
        content: ""; 
        display: inline-block; 
        width: 45%; 
        height: 100%; 
        background-image: url(images/TrimSplit.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #text-btn::before {
        content: ""; 
        display: inline-block; 
        width: 39%; 
        height: 100%; 
        background-image: url(images/Text.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #fxbtn::before {
        content: ""; 
        display: inline-block; 
        width:  60%; 
        height: 100%; 
        background-image: url(images/fxbtn.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #volumebtn::before {
        content: ""; 
        display: inline-block; 
        width:  60%; 
        height: 80%; 
        background-image: url(images/volumebtn.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #cropbtn::before {
        content: ""; 
        display: inline-block; 
        width: 50%; 
        height: 80%; 
        background-image: url(images/Crop.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #fadebtn::before {
        content: ""; 
        display: inline-block; 
        width: 50%; 
        height: 90%; 
        background-image: url(images/Fade.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #opacitybtn::before {
        content: ""; 
        display: inline-block; 
        width: 60%; 
        height: 80%; 
        background-image: url(images/opacitybtn.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .splitIcon::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/linkplus.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .pause::before {
        content: ""; 
        display: inline-block; 
        width: 50%; 
        height: 100%; 
        background-image: url(images/pausebtn.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .stop::before {
        content: ""; 
        display: inline-block; 
        width: 45%; 
        height: 55%; 
        background-image: url(images/stopbtn.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .file::before {
        content: ""; 
        display: inline-block; 
        width: 50%; 
        height: 100%; 
        background-image: url(images/foldericon.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .video-file-left::before {
        content: ""; 
        display: inline-block; 
        width: 80%; 
        height: 100%; 
        background-image: url(images/videoicon.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .search-btn::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/addFavorite.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .search-btn-last::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/addFavorite.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #normal-edit::before {
        content: ""; 
        display: inline-block; 
        width: 45%; 
        height: 100%; 
        background-image: url(images/normaledit.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #select-region::before {
        content: ""; 
        display: inline-block; 
        width: 45%; 
        height: 100%; 
        background-image: url(images/selectregion.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #zoom-edit::before {
        content: ""; 
        display: inline-block; 
        width: 45%; 
        height: 100%; 
        background-image: url(images/zoomedit.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #lock-event::before {
        content: ""; 
        display: inline-block; 
        width: 45%; 
        height: 100%; 
        background-image: url(images/lockevent.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #insert-marker::before {
        content: ""; 
        display: inline-block; 
        width: 45%; 
        height: 100%; 
        background-image: url(images/insertmarker.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #insert-region::before {
        content: ""; 
        display: inline-block; 
        width: 45%; 
        height: 100%; 
        background-image: url(images/insertregion.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #snapping-tool::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/snappingtool.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #cross-fade::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/crossfade.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #fade::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/Fade.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #link-plus::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/linkplus.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #link-minus::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/linkminus.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #auto-ripple::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/autoripple.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #crop-btn::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/Crop.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    #crop-btn::before {
        content: ""; 
        display: inline-block; 
        width: 40%; 
        height: 100%; 
        background-image: url(images/Crop.png); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
    .textbox {
        font-size: 20px;
        margin-right: 2%;
    }
    .file-dropdown {
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    .dropdown-content a:hover {background-color: #f1f1f1}
    .file-dropdown:hover .dropdown-content {
        display: block;
    }





